

$font-family: Helvetica,Arial,sans-serif;

$color-primary:  #8b0000;    // dark red/ruby


$color-link-hover: yellow;

$color-programlisting-border:       #bbb;
$color-programlisting-background:   #f3f3f3;



