
<div style="max-width: 300px; padding: 6px;">

<b>
 {% if theme.github %}
   <a href="https://github.com/{{ theme.github }}">
 {% endif %}
 {% if theme.home_url %}
   <a href="{{ theme.home_url }}">
 {% endif %}
  {{ theme.name }}
 </a>
</b>
  by
  {{ theme.author }}
  (License: {{ theme.license }})
<br>
<img src="{{ 'thumbnails/' | append: theme.thumbnail | relative_url }}">
<br>

{% if theme.demo_url %}
<a href="{{ theme.demo_url }}">[Live Demo]</a>
{% endif %}

{% if theme.github %}
   {% if theme.branch %}
      <a href="https://github.com/{{ theme.github }}/archive/{{ theme.branch }}.zip">[Download (.zip)]</a>
   {% else %}
      <a href="https://github.com/{{ theme.github }}/archive/master.zip">[Download (.zip)]</a>
   {% endif %}
{% endif %}

{% if theme.download_url %}
<a href="{{ theme.download_url }}">[Download (.zip)]</a>
{% endif %}


{% if theme.gem %}
<a href="https://rubygems.org/gems/{{ theme.gem}}">[Bundle (.gem)] </a>
{% endif %}

{% if theme.tags %}
  <br>
  {% for tag in theme.tags %}
     #{{tag}}
  {% endfor %}
{% endif %}

</div>
